# Ignore build artifacts
*.o
*.out
*.a
*.so
*.exe

# Ignore debug files
*.dSYM/
*.ipdb
*.pdb

# Ignore temporary files
*.tmp
*.temp
*.log
*.swp
*.swo
*~
*.tlog
*.ilk
*.recipe
*.idb

# Ignore directories
bin/
obj/
build/
dist/
Debug/
x64/

# Ignore IDE-specific directories:
*.idea/
*.vscode/
*.vs/

# Ignore other temporary or system files:
*.DS_Store
*Thumbs.db

# Other unimportant files
*.vcxproj
*.filters
*.user
*.txt
*.obj
*.sln
